/* Footer.css */
.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
}

.footer p {
    margin: 0;
    font-size: 0.9rem;
    color: #bbb;
}

.footer p strong {
    color: #ffcb74;
}