.hero {
    height: 100vh;
    background-image: url("/dog-bg.jpg");
    /* public folder lo dog-bg.jpg petti */
    background-size: cover;
    background-position: center top;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    background: #ff6f61;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #e55a4e;
}